@import '../../shared/palette.scss';

.logo {
    position: relative;
    color: $primary;
    font-weight: normal;
    z-index: 1;
    font-size: 16px;

    &--bold {
        font-weight: bold;
    }

    @media (min-width: 768px) {
        font-size: 20px;
    }
}