@import "./palette.scss";

.button {
    position: relative;
    padding: 10px 40px;
    border-radius: 3px;
    margin-top: 10px;
    text-transform: uppercase;

    &__primary {
        border: none;
        color: $white;
        background-color: $primary;

        &:hover {
            cursor: pointer;
            opacity: .8;
        }
    }

    &__secondary {
        border: 1px solid $primary;
        color: $primary;
        background-color: transparent;
        font-weight: bold;
        padding: 10px 30px;

        &:hover {
            cursor: pointer;
            border: 1px solid transparent;
            background-color: $primary;
            color: $white;
        }
    }

    &--add-movie {
        letter-spacing: 0.5px;
        &::before {
            content: '+';
            margin-right: 5px;
            font-weight: normal;
            font-size: 16px;
        }
    }

    &--search {
        margin-top: 10px;

        @media (min-width: 480px) {
            margin-left: 10px;
            margin-top: 0px;
        }
    }
}

