.header {
    background-image: url('../../img/netflix-background.png');
    position: relative; 
    width: 100%;
    background-size: cover;
    display: block;

    &::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: rgba(0,0,0,0.75);
        z-index: 0;
    }

    &-container {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 10px 20px;

        @media (min-width: 480px) {
            padding: 15px 50px;
        }
        
        @media (min-width: 1200px) {
            padding: 0;
        }
    }
    
    &-wrapper {
        min-height: 300px;

        @media (min-width: 1200px) {
            display: flex;
            flex-direction: column;
            min-height: 360px;
            max-width: 1024px;
            justify-content: space-around;
            margin: auto;
        }

        @media (min-width: 1440px) {
            min-height: 320px;
        }
    }

    a {
        text-decoration: none;
    }
}