@import '../../shared/palette.scss';

.sorting {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
    padding-bottom: 10px;

    &__title {
        opacity: .4;
    }
    
    &__list {
        color: $white;
        border: none;
        padding: 10px;
        margin-left: 10px;
        text-transform: uppercase;

    }

    @media (min-width: 768px) {
        padding: 0;
    }

    .MuiFormControl-root {
        padding-bottom: 6px;
        margin-left: 10px;
    }
}