@import "../../../shared/palette.scss";

.MuiDialog-container {
    .MuiPaper-root {
        background-color: $darkgray;
    }

    .MuiFormLabel-root.MuiInputLabel-root {
        display: none;

    }

    .MuiTextField-root .MuiInputBase-input {
        border: 1px solid $white;
        border-radius: 4px;
        opacity: .5;
    }
}
