@import "../../shared/palette.scss";

.actions {
    background-color: $darkgray;
    padding: 10px 0;
    margin: 0;
    list-style-type: none;
    min-width: 120px;
    border-radius: 5px;

    &__option {
        color: $white;
        padding: 5px 15px;

        &:hover {
            background-color: $primary;
            cursor: pointer;
        }
    }
}
